.container {
  max-width: 795px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contribution-wrapper {
  display: flex;
  align-items: center;
}

.weekday {
  color: #959494;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.weekdays {
  padding-top: 16px;
}

.contribution-graph {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 2px;
}

.weeks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.month-name {
  text-align: center;
  color: #959494;
  font-size: 12px;
  margin-bottom: 5px;
}

.contribution-cell {
  width: 15px;
  height: 15px;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.low-contributions {
  background-color: #ACD5F2;
}

.medium-contributions {
  background-color: #7FA8C9;
}

.high-contributions {
  background-color: #527BA0;
}

.very-high-contributions{
  background-color: #254E77;
}

.no-contributions {
  background-color: #EDEDED;
}


.contribution-cell:hover {
  outline: 1px solid #000;
}

.selected-cell .contribution-cell {
  outline: 1px solid #000;
}

.days {
  display: grid;
  grid-template-rows: 7;
  gap: 2px;
}

.tooltip {
  position: absolute;
  background-color: #000;
  border-radius: 3px;
  padding: 5px 10px;
  z-index: 999;
  top: -50px;
  min-width: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowTooltip {
  position: absolute;
  bottom: -20px;

  border: 10px solid transparent;
  border-top: 10px solid #000;
}

.countContribution {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
}

.dateContribution{
  color: #7C7C7C;
  font-size: 10px;
}

.contribution-graph-clue {
  display: flex;
  align-items: center;
  font-size: 8px;
  margin-top: 15px;
}

.contribution-graph-clue .contribution-cell {
  margin-right: 2px;
}

.contribution-graph-clue .title {
  margin-right: 5px;
}

.contribution-graph-clue .title:last-child {
  margin-left: 5px;
}
